<ion-view view-title="Contacts">
    <ion-content>
        <h4 class="content padding double-padding-x">Contact me</h4>
        <div class="list card">
            <a href="#" class="item item-icon-left">
              <i class="icon ion-email"></i>
              {{contacts.email}}
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-telephone"></i>
              {{contacts.phone}}
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-home"></i>
                {{contacts.location.address}},  {{contacts.location.countryCode}}
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-link"></i>
                {{contacts.website}}
            </a>
        </div>
    </ion-content>
</ion-view>
