<ion-view view-title="Educational Background" align-title="center">
  <ion-content>
   <!--{{education}}-->
      <div class="animate-fade-slide-in-right list card stable-bg" ng-repeat="list in education">
          <div class="item item-thumbnail-right">
              <img src="img/{{list.avatar}}">
              <h2>{{list.institution}}</h2>
              <p>{{list.area}}</p>
              <p>{{list.startDate}} - {{list.endDate}}</p>
          </div>
          <div class="item item-body">
              <p>{{list.summary}}</p>
          </div>
      </div>
  </ion-content>
</ion-view>
