<ion-view view-title="Education">
  <ion-content>
      <h4 class="content padding double-padding-x">Tertiary Education</h4>
      <div class="animate-fade-slide-in list" ng-repeat="list in education">
          <div class="item item-thumbnail-right">
              <img src="img/{{list.logo}}">
              <h2>{{list.institution}}</h2>
              <p>{{list.area}}</p>
              <p>{{list.startDate}} - {{list.endDate}}</p>
          </div>
          <div class="item item-body">
              <p>{{list.summary}}</p>
          </div>
      </div>
  </ion-content>
</ion-view>
