<ion-view view-title="Working Experience">
    <ion-content>
        <div class="list animate-fade-slide-in-right" ng-repeat="exp in experience">
            <div class="item item-thumbnail-right">
                <img src="img/{{exp.avatar}}">
                <h2>{{exp.company}}</h2>
                <p>{{exp.position}}</p>
                <p>{{exp.startDate | date}} - {{exp.endDate | date}}</p>
                <p>{{exp.website}}</p>
            </div>
            <div class="item item-body">
                <p>{{exp.summary}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>
