<ion-view view-title="Profile">
    <ion-content>
        <!--{{resume}}-->




        <!--<div class="" style="background-image: url('img/material3.jpg');">-->
            <!--<div class="content">-->
                <!--<div class="avatar" style="background-image: url('img/idol.jpg');">-->
                    <!--&lt;!&ndash;<img src="img/idol.jpg">&ndash;&gt;-->
                <!--</div>-->
                <!--<h3><a class="light">Daenerys Targaryen</a></h3>-->
                <!--<h4>dragon_mommy</h4>-->
            <!--</div>-->
        <!--</div>-->

        <div class="list" style="background-image: url('img/material1.jpg');">
            <a class="item">
                <img src="img/ionic.png">
                <!--<h2>Ionic Framework</h2>-->
                <p>A mobile development revolution</p>
            </a>
        </div>


        <div class="row responsive-sm">
            <div class="col">
                <button class="button button-fab button-dark icon ion-social-github"></button>
                <button class="button button-fab button-dark icon ion-social-linkedin"></button>
                <button class="button button-fab button-dark icon ion-social-twitter"></button>
                <button class="button button-fab button-dark icon ion-social-googleplus"></button>
                <button class="button button-fab button-dark icon ion-social-facebook"></button>
            </div>
        </div>



    </ion-content>
</ion-view>
