<ion-view view-title="Profile">
    <ion-content>
        <!--{{resume}}-->

<!--<div class="avatar">-->
    <!--<img src="img/idol.jpg">-->
<!--</div>-->



        <div class="" style="background-image: url('img/material3.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/idol.jpg');">
                    <!--<img src="img/idol.jpg">-->
                </div>
                <h3><a class="light">Daenerys Targaryen</a></h3>
                <h4>dragon_mommy</h4>
            </div>
        </div>

        <!--<div class="tabs tabs-dark tabs-icon-top static">-->
            <!--<a ui-sref="app.activity" class="tab-item">-->
                <!--<i class="icon ion-arrow-graph-up-right"></i> Activity-->
            <!--</a>-->
            <!--<a ui-sref="app.friends" class="tab-item">-->
                <!--<i class="icon ion-android-people"></i> Friends-->
            <!--</a>-->
            <!--<a ui-sref="app.gallery" class="tab-item">-->
                <!--<i class="icon ion-images"></i> Photos-->
            <!--</a>-->
        <!--</div>-->

        <!--<button class="button button-fab button-balanced icon ion-leaf"></button>-->

    </ion-content>
</ion-view>
