<ion-view view-title="Profile">
    <ion-content>
        <!--{{resume}}-->

        <!--<div class="" style="background-image: url('img/material1.jpg');">-->
        <div class="">
            <div class="col text-center">
                <img src="img/ionic.png">
            </div>
            <div class="text-center dark">
                Hi, I'm {{resume.name | getFirstName}} ~ I code Web Applications.
            </div>
        </div>
        <div class="row">
            sdfgsdfds
        </div>

        <!--<div class="row responsive-sm">-->
            <!--<div class="col">-->
                <!--<button class="button button-fab button-dark icon ion-social-github"></button>-->
                <!--<button class="button button-fab button-dark icon ion-social-linkedin"></button>-->
                <!--<button class="button button-fab button-dark icon ion-social-twitter"></button>-->
                <!--<button class="button button-fab button-dark icon ion-social-googleplus"></button>-->
                <!--<button class="button button-fab button-dark icon ion-social-facebook"></button>-->
            <!--</div>-->
        <!--</div>-->



    </ion-content>
</ion-view>
