<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.frontendawesome292197" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>xrexonx</name>
  <description>
        A Mobile App Resume
    </description>
  <icon src="www/img/ionic.png"/>
  <author email="rexondelosreyes88@gmail.com" href="https://xrexonx.github.io/">
      Rexon A. De los Reyes
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
